body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;    
}

ul,
ol {
    list-style-type:none ;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    color:#4d5ae5 ;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-part{
    color: #2E2F42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link .contacts-link {
    font-style: normal;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.contacts-link :hover,
.contacts-link:focus {
    font-weight: normal;
}

.contacts-link:hover,
.contacts-link:focus {
    color:#404bbf;
}

.hero-button {
    background-color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.hero-section {
    background-color: #2E2F42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}


.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color: #f4f4fd;
}

.team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
 
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #ffffff;
}

.team-item{
    background-color: #ffffff;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ffffff;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-page{
    background-color: #2E2F42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-part {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}